<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>HOME PAGES</title>
  <link rel="stylesheet" href="{{ url_for('static', path='css/root.css') }}">
  <link rel="stylesheet" href="{{ url_for('static', path='css/home.css') }}">
</head>
<body>
 
  <div class="container-content">
    <div class="name-content options-content">
      <h2>Monitores disponíveis</h2>
    </div>

    <section class="values-content-response">
      {% if monitors|length == 0 %}
        <p>Nenhum monitor cadastrado.</p>
      {% else %}
        {% for m in monitors %}
          <div class="monitor">
            <p>ID: {{ m.id }}</p>
            <p>Nome: {{ m.name }}</p>
            <p>URL: {{ m.url }}</p>
          </div>
        {% endfor %}
      {% endif %}
    </section>
  </div>

</body>
</html>
